body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
li {
  list-style: none;
}
.container {
  margin: 0 auto;
  width: 860px;
  border-radius: 10px 0 10px 0;
}
.task {
  width: 100%;
  display: flex;
  padding: 16px 12px 16px 24px;
  justify-content: space-between;
  box-shadow: 0px 1px #ccc;
  box-sizing: border-box;
}

.task input {
  margin: 0;
}
.task .task-content {
  margin-left: 8px;
}
.task .task-content button {
  right: 0;
}

